SPRING_APPLICATION_NAME=inventario-local
SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080

MYSQL_DATABASE=inventario_local
MYSQL_USER=inventario
MYSQL_PASSWORD=inventario_local
MYSQL_ROOT_PASSWORD=root_local

DB_URL=jdbc:mysql://inventario-mysql:3306/inventario_local?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=America/Bogota&connectTimeout=30000&socketTimeout=60000
DB_USERNAME=inventario
DB_PASSWORD=inventario_local
DB_DRIVER=com.mysql.cj.jdbc.Driver

JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false
JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect

JWT_SECRET_KEY=bG9jYWwtaW52ZW50YXJpby1qd3Qtc2VjcmV0LWtleS0yMDI2
JWT_EXPIRATION=172800000

ROOT_USER_NAME=Super Admin
ROOT_USER_USERNAME=root
ROOT_USER_PASSWORD=admin_local
ROOT_USER_FORCE_RESET_PASSWORD=true
